// Specific CSS for your home-page

//the basic page container: splits the page in half
.page-container {
  border: 5px solid  black;
  width: 75%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;

  //the four corners border
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    background: beige;
  }

  &::before {
    top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
    bottom: -0.3em;
    left: 10em;
    right: 10em;
  }

  &::after{
    left: -0.3em;
    right: -0.3em;
    top: 10em;
    bottom: 10em;
  }
}

// splits the page in half
.split {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
  position: relative;
}


//Left side

.left {
  left: 0;
  background-color: beige;
  padding-left: 20px;
}


.basic-info {
  margin-top: 25%;
  margin-left: 15%;
  z-index: 1;
}

.list-container {
  margin-top: 35%;
  margin-left: 15%;
}

#labels-list li {
  list-style-type: none;
  margin-bottom: 5%;
}


.hidden {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}



  // Right side

.right {
  right: 0;
  background-color: beige;
}

// .content-right {
  //   position: absolute;
  //   bottom: 25%;
  //   right: 20%;
  //   padding: 25px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-content: center;
  // }

// content inside of the right container

#projects > #projects-list li{
  text-align: left;
}

#about {
  position: absolute;
  bottom: 25%;
  right: 20%;
  padding: 25px;
}

#projects {
  position: absolute;
  bottom: 25%;
  right: 30%;
  padding: 25px;
}

#contact {
  position: absolute;
  bottom: 25%;
  right: 20%;
  padding: 25px;
}


#projects-list li {
  list-style-type: none;
  font-size: 35px;
  margin-bottom: 5%;
}


li { cursor: pointer; }


::selection {
  color: none;
  background: none;
}
