// Specific CSS for your home-page

// fonts
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 375%;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 320;
}


//the basic page container: splits the page in half
.page-container {
  // border: 5px solid  black;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;

  //the four corners border
  // &::before, &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background: beige;
  // }

  // &::before {
  //   top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
  //   bottom: -0.3em;
  //   left: 10em;
  //   right: 10em;
  // }

  // &::after{
  //   left: -0.3em;
  //   right: -0.3em;
  //   top: 10em;
  //   bottom: 10em;
  // }
}

// splits the page in half
.split {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
  position: relative;
}


//Left side

.left {
  left: 0;
  background-color: white;
  padding-left: 20px;
}


.basic-info {
  margin-top: 15%;
  margin-left: 15%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.basic-info h1 {
  margin-bottom: 20px;
}

.basic-info h4 {
  margin-left: 2px;
  font-size: 248%;
}


.list-container {
  margin-top: 20%;
  margin-left: 15%;
}

#labels-list li {
  list-style-type: none;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 195%;
}


.hidden {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}



  // Right side

.right {
  right: 0;
  background-color: black;
  color: white;
  padding: 25%;
}

// .content-right {
  //   position: absolute;
  //   bottom: 25%;
  //   right: 20%;
  //   padding: 25px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-content: center;
  // }

// content inside of the right container


// about me section

#about {
  position: absolute;
  bottom: 25%;
  right: 10%;
  padding: 25px;
  text-align: center;
  width: 75%;
}

#about p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px white solid;
  margin-bottom: 20px;
}

// projects section

#projects {
  position: absolute;
  bottom: 35%;
  right: 40%;
  padding: 25px;
  color: white;
}

#projects-list li {
  list-style-type: none;
  font-size: 275%;
  margin-bottom: 5%;
  font-family: 'Oswald', sans-serif;
  color: white;
}

#projects > #projects-list li{
  text-align: left;
  color: white;
}

// contact me section

#contact {
  position: absolute;
  bottom: 40%;
  right: 30%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

#contact i {
  margin-bottom: 40px;
  size: 300%;
  margin-right: 20px;
}







// a bunch of default shit for links and pointers

li { cursor: pointer; }

a{
  text-decoration:none;
  color: white;
}

a:visited {
  text-decoration:none;
  color: white;
}


::selection {
  color: none;
  background: none;
}
