// Specific CSS for your home-page

//the basic page container: splits the page in half
.page-container {
  border: 5px solid  black;
  width: 1000px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;

  //the four corners border
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    background: beige;
  }

  &::before {
    top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
    bottom: -0.3em;
    left: 10em;
    right: 10em;
  }

  &::after{
    left: -0.3em;
    right: -0.3em;
    top: 10em;
    bottom: 10em;
  }
}

// splits the page in half
.split {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
  position: relative;
}


//Left side

/* Control the left side */
.left {
  left: 0;
  background-color: beige;
  padding-left: 20px;
}

.about {
  background-color: transparent;
  display: none;
}

.projects {
  display: none;
}

.contact {
  display: none;
}

.basic-info {
  margin-top: 150px;
  margin-left: 50px;
  z-index: 1;
}

.list-container {
  margin-top: 150px;
  margin-left: 50px;
}


// #toggleItem {
//   opacity: 1;
  // -webkit-transition: all 0.5s ease-in-out;
  // -moz-transition: all 0.5s ease-in-out;
  // -ms-transition: all 0.5s ease-in-out;
  // -o-transition: all 0.5s ease-in-out;
//   transition: all 0.5s ease-in-out;
// }

.hidden {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}




// Right side

/* Control the right side */
.right {
  right: 0;
  background-color: beige;
}


// content inside of the right container
.content-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
}


#projects-list li {
  list-style-type: none;
}


li { cursor: pointer; }



// .fade-out-text {
//   animation: fadeOut 1s;
//   -webkit-animation: fadeOut 1s;
//   -moz-animation: fadeOut 1s;
//   -o-animation: fadeOut 1s;
//   -ms-animation: fadeOut 1s;
// }

// @keyframes fadeOut {
//   100% { opacity: 1; }
//   0% { opacity: 0; }
// }

// @-moz-keyframes fadeOut {
//   100% { opacity: 1; }
//   0% { opacity: 0; }
// }

// @-webkit-keyframes fadeOut {
//   100% { opacity: 1; }
//   0% { opacity: 0; }
// }

// @-o-keyframes fadeOut {
//   100% { opacity: 1; }
//   0% { opacity: 0; }
// }

// @-ms-keyframes fadeOut {
//   100% { opacity: 1; }
//   0% { opacity: 0; }
// }

// .abin:active {
//   display: block;
//   background-color: red;
// }


::selection {
  color: none;
  background: none;
}
