<div class = "page-container">

  <%# left side of screen %>
    <div class ="split left">
      <div class = "basic-info">
      <%# Name and title container %>
        <h1>Grant Chichester</h1>
        <h4>Web Developer</h4>
      </div>

      <div class = "list-container">
        <%# List items that will dissapear with JS when clicked %>
        <ul>
          <li id ="toggleItem" class = "visible">About</li>
          <li id ="toggleItemOne" class = "visible">Projects</li>
          <li id ="toggleItemTwo" class = "visible">Contact</li>
        </ul>
      </div>
    </div>

  <%# right side of screen %>
    <div class="split right">
      <div class="content-right">

      <%# About me section %>
        <div class = "about" style="display: none">
          <p>A recent graduate of the Le Wagon coding bootcamp in Barcelona, I'm eager to get started on my career as a web developer.</p>
          <p>Originally from Texas, I've lived in Asia (Thailand and China) for the past 7 years.</p>
          <p>Some filler text</p>
        </div>
      <%# Projects section %>
        <div class = "projects" style="display: none">
          <ul>
          <li>Crewsin</li>
          <li>Airbnbee</li>
          <li>This website</li>
        </ul>
        </div>
      <%# Contact section  %>
        <div class = "contact" style="display: none">
          <p>here will be my contact info</p>
        </div>
      </div>
    </div>
</div>
