<div class = "page-container">

  <%# left side of screen %>
    <div class ="split left">
      <div class = "basic-info">
      <%# Name and title container %>
        <h1>Grant Chichester</h1>
        <h4>Web Developer</h4>
      </div>

      <div class = "list-container">
        <%# List items that will dissapear with JS when clicked %>
        <ul>
          <li id="toggleItem">About</li>
          <li id="toggleItemOne">Projects</li>
          <li id="toggleItemTwo">Contact</li>
        </ul>
      </div>
    </div>

  <%# right side of screen %>
    <div class="split right">
      <div class="content-right">

      <%# About me section %>
        <div class = "about">
          <p>Hello my name is grant</p>
        </div>
      <%# Projects section %>
        <div class = "projects">
          <p>here will be the links to my projects</p>
        </div>
      <%# Contact section  %>
        <div class = "contact">
          <p>here will be my contact info</p>
        </div>
      </div>
    </div>
</div>
