<div class = "page-container">

  <%# left side of screen %>
    <div class ="split left">
      <div class = "basic-info">
      <%# Name and title container %>
        <h1>GRANT CHICHESTER</h1>
        <h4>Full-Stack Web Developer</h4>
      </div>

      <div class = "list-container">
        <%# List items that will dissapear with JS when clicked %>
        <ul id = "labels-list">
          <li id ="toggleItem" class = "visible">About</li>
          <li id ="toggleItemOne" class = "visible">Projects</li>
          <li id ="toggleItemTwo" class = "visible">Contact</li>
        </ul>
      </div>
    </div>



  <%# right side of screen %>
    <div class="split right">
      <div class="content-right">

      <%# About me section %>
        <div id = "about" class = "hidden">

            <%= cl_image_tag("https://res.cloudinary.com/dmz2vmnno/image/upload/v1670594282/production/fe4o47khylqf2bd9c24yit0qjksj.jpg", gravity: :face,  class: "profile-pic") %>

          <p>A recent graduate of the Le Wagon coding bootcamp in Barcelona, I'm eager to get started on my career as a web developer.</p>
          <p>Originally from Texas, I've lived in Asia (Thailand and China) for the past 7 years.</p>
        </div>
      <%# Projects section %>
        <div id = "projects" class = "hidden">
          <ul id = "projects-list">
            <li><a href ="https://www.crewsin.me/" target= "_blank">Crewsin</a></li>
            <li><a href ="/" target = "_blank">Portfolio</a><li>
          </ul>
        </div>
      <%# Contact section  %>
        <div id = "contact" class = "hidden">
          <a href ="https://github.com/gchi66" target= "_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
          <a href ="https://www.linkedin.com/in/gchichester/" target= "_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </div>
      </div>
    </div>
</div>
